#p1{
    font-size: 24px;
}
.contenedor1{
    width: 1500px;
    height: 900px;
    background-color: rgba(0, 0, 0, 0.979);
    border-radius: 8px;
    display: grid;
    place-items: center;
.contenedor{
    width: 600px;
    height: 750px;
    background-color: rgb(26, 23, 23);
    border-radius: 8px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    h1{
        text-align: center;
    }
    h2{
        text-align: center;
    }
    h3{
        text-align: center;
    }
}
}